doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/css/app.css")
    body 
        h1 Title
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quisquam consequatur soluta alias iusto repellat nulla at eveniet facilis illo nostrum, culpa suscipit et, cupiditate debitis cumque laboriosam assumenda enim!
        img(src="./assets/imgs/darth-vader.jpg", alt="картинка Дарта Вейдера") 
